<% include partials/header %>

<div class="ui main text container">
	<div class="ui hude header"><%=blog.title%></div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image segment" src="<%=blog.image%>">	
			<div class="content">
				<span><%=blog.created.toDateString()%></span>
			</div>
			<div class="description"><p><%-blog.body%></p></div>
			<form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
			<a class="ui orange basic button" href="/blogs/<%=blog._id%>/edit">Edit</a>
				<button class="ui red invert button">Delete</button>
			</form>
		</div>
	</div>
</div>

<% include partials/footer %>